@font-face {
    font-display: swap;
    font-family: myFont;
    src: url(https://res.cloudinary.com/oluwatoyinah/raw/upload/v1662495482/gomoney/FontsFree-Net-SF-Pro-Rounded-Heavy_qw9bps.woff2)
}

* {
    font-family: myFont;
}
.h1_text {
    color: white;
    font-size: 95px;
    font-weight: 800;
    filter: drop-shadow(5px 10px rgba(15, 26, 62, .5));
    background: -webkit-linear-gradient(90deg, #ffe299, #fff);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
   
}

.h6_text {
    color: white;
    font-weight: 600;
    font-size: 32px;
   
}

.btn__ {
    background: #f47079;
    border: none;
    border-radius: 68.0544px;
    box-shadow: inset 0 6.3801px 28.6996px 2.29597px #550505;
    color: white;
    filter: drop-shadow(5px 10px rgba(15, 26, 62, .5));
    margin-top: 20px;
    outline: none;
    padding: 0px 15px;
    transform: matrix(1, -.09, .04, 1, 0, 0);

}

#a_ {
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    color: white;
}

#footer_text{
    font-size: 22px;
    font-weight: 900;
    color: white;

}

#t_text{
    font-size: 20px;
    font-weight: 800;
    color: #eaa200;
}

#img_span{
    margin: 11px;
}

.span_img{
    position: absolute;
        left: 918px;
        top: -19px;
        width: 90px;
}

#img__{
    width: 40;
}

.name_{
    padding: 29px;
    border: none;
    margin-top: 19px;
    border-radius: 14px;
    padding-right: 186px;
    font-size: 25px;
    font-weight: 900;
    transition: all 200ms ease-in-out;
    outline: none;
    color: blue;
    
}

::placeholder{
    color: blue;
}

@media (max-width: 320px) {
    #img_logo1 {
        width: 30% !important;
    }
 
    .h1_text {
        font-size: 25px !important;
    }

    .h6_text {
        font-size: 15px !important;
    }

        .name_ {
            font-size: 12px !important;
            /* padding-right: 98px; */
        }
    
        .name_ {
            padding: 9px !important;
            border: none;
            margin-top: 12px;
            border-radius: 14px;
            padding-right: 48px;
            font-size: 25px;
            font-weight: 900;
            transition: all 200ms ease-in-out;
            margin-left: -12px !important;
            padding-right: 0px !important;
            outline: none;
            color: blue;
        }


        #a_ {
            text-decoration: none;
            font-weight: 700;
            font-size: 19px  !important;
            color: white;
        }

         #footer_text {
            font-size: 11px;
            font-weight: 900;
            color: white;
        }

        #t_text {
            font-size: 11px;
            font-weight: 800;
            color: #eaa200;
        }

        #img_span {
            margin: 0px;
        }


        .btn__ {
            background: #f47079;
            border: none;
            border-radius: 70.0544px;
            box-shadow: inset 0 6.3801px 28.6996px 2.29597px #550505;
            color: white;
            outline: none;
            animation: pulse 4s ease-in infinite;
        }
        
        #btn_1 {
            padding: 7px !important;
        }

}

@media screen and (max-width: 896px) {
    .h1_text{
        font-size: 67px;
    }

    .h6_text{
        font-size: 24px;
        
    }

        .span_img {
            position: absolute;
            left: 460px;
            top: -19px;
            width: 90px;
        }
    .name_{
        font-size: 20px;
        padding-right: 98px;
    }
}